body {
    margin: 0;
    font-family: "Raleway" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url("./img/flower-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav {
    background-color: rgba(248, 249, 250, .2) !important;
}

.jumbotron {
    background-color: rgba(248, 249, 250, 0) !important;
}

.row {
  align-items: center;
}

/* On main page, section 1 garden image */

#garden-img {
    margin: 2%;
    max-height: 477px;
}

#garden-img-vert {
    height:100%;
}

#intro {
    padding: 5%;
    align-items: center;
    background-color: #9cdaf8;
    background-image: linear-gradient(315deg, #9cdaf8 0%, #98fcbd 74%);
}

#about {
    background-color: #9cdaf8;
    background-image: linear-gradient(315deg, #9cdaf8 0%, #98fcbd 74%);
    padding:5%;
}

p {
    text-indent: 50px;
    line-height: 1.7;
}

.frosted {
    background-color: rgba(248, 249, 250, .6);
    padding:1rem;
    border-radius: 15px;
}

#logo {
    width:100%;
}

#banner {
    display:table;
    height:7rem;
    color:teal;
    letter-spacing: 3px;
    margin:auto;
    vertical-align: middle;
}



.footer {
    background-color: rgba(248, 249, 250, .8);
    padding:1rem;
}