body {
    margin: 0;
    font-family: 'Muli', sans-serif !important;
    font-size:1.1rem !important;
    position:relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

body:before {
    background:url(img/veggies-bg.jpeg) center center fixed;
    display: block; 
    content:""; 
    position: absolute; 
    z-index:-1;
    top:0; left: 0; right: 0; height: 100%;
    opacity:.15;
  }

.container {
    border-radius: 15px;
}

img {
    max-width: 100%;
}

nav {
    background-color: rgba(248, 249, 250, 0);
}

.nav-opaque {
    background-color: rgba(248, 249, 250, .8) ;
    transition: 1.0s;
}

.nav-link {
    font-weight:600;
    font-size: large;
    color:rgba(36, 103, 37, .7) !important;
}

.hidden {
    display:none
}

.jumbotron {
    height: 20rem;
    background-color: rgba(248, 249, 250, 0) !important;
}

.row {
  align-items: center;
  justify-content: center;
  margin:0 !important;
}

/* On main page, section 1 garden image */

#garden-img {
    max-height: 477px;
    margin-top: 5%;
}

#garden-img-vert {
    height:100%;
    border-radius: 5%;
    border: 10px solid white;
    padding: 0;
}

#intro {
    padding: 5%;
    align-items: center;
    background-color:#6edf6f;
    /* background-image: linear-gradient(315deg, #98fcbd 0%, #9cdaf8 74%); */
}

#about {
    background-color: #6edf6f;
    /* background-image: linear-gradient(315deg, #9cdaf8 0%, #98fcbd 74%); */
    padding:5%;
}

#butterfly {
    border: 10px solid white;
    padding:0;
    border-radius: 5%;
    margin:2%;
}

p {
    text-indent: 50px;
    line-height: 1.5;
}

.frosted {
    background-color: rgba(248, 249, 250, .6);
    padding:.6rem;
    border-radius: 15px;
}

#jumbo-logo {
    margin-left:5%;
}


.banner {
    display:flex;
    height:22rem;
    color:#98fcbd;
    letter-spacing: 3px;
    margin:auto;
    /* justify-content: flex-start; */
}

.lg-banner-txt  {
    -webkit-text-stroke: 1px teal;
    text-shadow: 2px 2px #000;
    margin-left: 15%;
    margin-top:-12%;
}

#small-banner {
    color:#98fcbd;
    -webkit-text-stroke: 1px teal;
    text-shadow: 2px 2px #000;
    
}

.footer {
    background-color: rgba(248, 249, 250, .8);
    padding:1rem;
}

#contact-list {
    list-style-type: none;
}

#icon {
    max-width: 100px;
    padding:10px;
}

#label {
    margin-left:-10%;
}

#cart {
    max-width: 35px;
}

#venmo {
    font-size:1.3rem;
    font-weight: bold;
}

.btn-lg{
    margin-right:25px;
}

/* Tablet Size */

@media screen and (min-width:480px) and (max-width:768px){

    .lg-banner-txt  {
text-align:center;
margin:auto;    }
    
img {
    max-width: 100%;
}
}

/* Extra Large Screen */

@media screen and (min-width:1200px){
    body{

        background-size:cover;
    }

    #jumbo-logo {
        width:40%;
    }

}


/* Mobile Phone View */
@media screen and (max-width:768px){
    img {
        max-width: 100%;
    }
}